<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yakitrak.ticktick</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>07134673-1DD7-427E-B638-993B2D882394</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E1237BA-323C-4AC3-A522-52F4A22A7C20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19AB8A52-0342-4DA8-970D-1952CA2A7677</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A94BB0EB-3858-4E8B-8BF5-3A8662DD7428</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7129FA9C-A39D-46EB-9193-18E5AD9CC7C0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Enter to complete the task</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C752214-A9F6-4AAB-8714-092E72359AD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>974FB3E7-29DA-4C3C-A73B-C0472916D337</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E10B0D4-D932-4A5B-A760-0AC803804A5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C752214-A9F6-4AAB-8714-092E72359AD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E9E6707-A31E-48AE-9B16-850C0C4D03F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E41C6262-AAA6-455B-ABD4-C51CC910596A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>521BB2CB-6804-4FC0-96A4-FAAD65E63188</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E6B4CB7-EFFD-49BB-9431-0FC323586DAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61709059-2CF3-4C84-A6E3-D9877853A7F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A78F86EA-62DA-4918-88ED-B3599F17CFB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E1237BA-323C-4AC3-A522-52F4A22A7C20</key>
		<array/>
		<key>7129FA9C-A39D-46EB-9193-18E5AD9CC7C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7B14153-6DC0-47D6-9689-0399D2B52806</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>801121C8-DC07-4983-A4D1-24199CF09013</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>521BB2CB-6804-4FC0-96A4-FAAD65E63188</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97215EF3-F4C6-44CA-804E-5738D379E759</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4667CFD-E90D-41AB-8548-C2B353B4E48F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE4738D5-CCAA-481A-880A-4CD293292B60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97215EF3-F4C6-44CA-804E-5738D379E759</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5C83A22-CD59-4373-87EC-81D194B3A359</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97AA7C50-EF72-4A17-A89F-CF14B5CAF919</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D832F0C1-AB4F-44E1-8A3A-C8D15F0D0EAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFCA3C54-0E30-4A5D-9A8D-1AE1B729D59D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8E2AD2F-D824-40E3-ACEB-1E7F0483C6BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D832F0C1-AB4F-44E1-8A3A-C8D15F0D0EAC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F10D878A-E0A0-45AA-A448-6A10CF3848A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE082CCF-925D-4407-A404-08118419950F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kartikay Jainwal</string>
	<key>description</key>
	<string>TickTick Alfred Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TickTick</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tsetup1</string>
				<key>subtext</key>
				<string>Run this after configuring your Client Id and Secret</string>
				<key>text</key>
				<string>TickTick Setup 1</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F10D878A-E0A0-45AA-A448-6A10CF3848A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ticktick.com/oauth/authorize?scope=tasks:write tasks:read&amp;client_id={var:client_id}&amp;redirect_uri=http://localhost&amp;response_type=code</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EE082CCF-925D-4407-A404-08118419950F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tls</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching lists..</string>
				<key>script</key>
				<string>python3 ./src/list-search.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search and open your lists</string>
				<key>title</key>
				<string>TickTick List Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>07134673-1DD7-427E-B638-993B2D882394</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ticktick.com/webapp/#p/{query}/tasks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6E1237BA-323C-4AC3-A522-52F4A22A7C20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 ./src/setup-access-token.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>97215EF3-F4C6-44CA-804E-5738D379E759</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>TickTick Alfred Workflow</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E4667CFD-E90D-41AB-8548-C2B353B4E48F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tsetup2</string>
				<key>subtext</key>
				<string>Paste the "code" from step 1</string>
				<key>text</key>
				<string>TickTick Setup 2</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AE4738D5-CCAA-481A-880A-4CD293292B60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>TickTick Alfred Workflow</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8E6B4CB7-EFFD-49BB-9431-0FC323586DAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tln</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 ./src/list-new-helper.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Creates new list with your specified name</string>
				<key>title</key>
				<string>TickTick List New</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>801121C8-DC07-4983-A4D1-24199CF09013</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 ./src/list-new-post.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>521BB2CB-6804-4FC0-96A4-FAAD65E63188</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>TickTick Alfred Workflow</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>974FB3E7-29DA-4C3C-A73B-C0472916D337</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 ./src/setup-sync.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1C752214-A9F6-4AAB-8714-092E72359AD6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tsync</string>
				<key>subtext</key>
				<string>Clears cache and reloads data (please wait a few seconds after using)</string>
				<key>text</key>
				<string>TickTick Sync</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1E10B0D4-D932-4A5B-A760-0AC803804A5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ticktick.com/webapp/#p/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A94BB0EB-3858-4E8B-8BF5-3A8662DD7428</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tts</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching tasks..</string>
				<key>script</key>
				<string>python3 ./src/task-search.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search and open your tasks</string>
				<key>title</key>
				<string>TickTick Task Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>19AB8A52-0342-4DA8-970D-1952CA2A7677</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ticktick.com/webapp/#c/all/calendar/w</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E41C6262-AAA6-455B-ABD4-C51CC910596A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tcw</string>
				<key>subtext</key>
				<string>Opens calender in week view</string>
				<key>text</key>
				<string>TickTick Calendar (Week)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4E9E6707-A31E-48AE-9B16-850C0C4D03F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>TickTick Alfred Workflow</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D7B14153-6DC0-47D6-9689-0399D2B52806</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 ./src/task-complete.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7129FA9C-A39D-46EB-9193-18E5AD9CC7C0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ticktick.com/webapp/#c/all/calendar/d</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A78F86EA-62DA-4918-88ED-B3599F17CFB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tcd</string>
				<key>subtext</key>
				<string>Opens calender in day view</string>
				<key>text</key>
				<string>TickTick Calendar (Day)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>61709059-2CF3-4C84-A6E3-D9877853A7F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tcm</string>
				<key>subtext</key>
				<string>Opens calender in month view</string>
				<key>text</key>
				<string>TickTick Calendar (Month)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C5C83A22-CD59-4373-87EC-81D194B3A359</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ticktick.com/webapp/#c/all/calendar/m</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>97AA7C50-EF72-4A17-A89F-CF14B5CAF919</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 ./src/task-new-post.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D832F0C1-AB4F-44E1-8A3A-C8D15F0D0EAC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>TickTick Alfred Workflow</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EFCA3C54-0E30-4A5D-9A8D-1AE1B729D59D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ttn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 ./src/task-new-helper.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Creates new task with your specified name</string>
				<key>title</key>
				<string>TickTick Task New</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D8E2AD2F-D824-40E3-ACEB-1E7F0483C6BE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup
1. Go to [https://developer.ticktick.com/manage](https://developer.ticktick.com/manage) and create a new app with any name you want. You'll be asked for a redirect url, pleae enter in `http://localhost`. Now you should have a "Client ID" and "Client Secret".
2. Go to "Configure Workflow" button on this workflow on Alfred, and copy and paste the "Client ID" and "Client Secret"
3. Using Alfred, type in `tsetup1` and authorise the workflow, you'll be redirected to 
`http://localhost?code=xxxxx`. Please copy the code from the url.
4. Using Alred, type in `tsetup2` followed by the code from the step 1 (e.g. `tsetup2 xxxxx`). You are now ready to use the workflow!

## Usage
For detailed usage instructions please go to: https://github.com/Yakitrak/ticktick-alfred-workflow</string>
	<key>uidata</key>
	<dict>
		<key>07134673-1DD7-427E-B638-993B2D882394</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>19AB8A52-0342-4DA8-970D-1952CA2A7677</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>1C752214-A9F6-4AAB-8714-092E72359AD6</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>1E10B0D4-D932-4A5B-A760-0AC803804A5F</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>4E9E6707-A31E-48AE-9B16-850C0C4D03F9</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>521BB2CB-6804-4FC0-96A4-FAAD65E63188</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>61709059-2CF3-4C84-A6E3-D9877853A7F0</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>6E1237BA-323C-4AC3-A522-52F4A22A7C20</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>7129FA9C-A39D-46EB-9193-18E5AD9CC7C0</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>801121C8-DC07-4983-A4D1-24199CF09013</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>8E6B4CB7-EFFD-49BB-9431-0FC323586DAE</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>97215EF3-F4C6-44CA-804E-5738D379E759</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>974FB3E7-29DA-4C3C-A73B-C0472916D337</key>
		<dict>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>97AA7C50-EF72-4A17-A89F-CF14B5CAF919</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>A78F86EA-62DA-4918-88ED-B3599F17CFB3</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>A94BB0EB-3858-4E8B-8BF5-3A8662DD7428</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>AE4738D5-CCAA-481A-880A-4CD293292B60</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>C5C83A22-CD59-4373-87EC-81D194B3A359</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>D7B14153-6DC0-47D6-9689-0399D2B52806</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>D832F0C1-AB4F-44E1-8A3A-C8D15F0D0EAC</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>D8E2AD2F-D824-40E3-ACEB-1E7F0483C6BE</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>E41C6262-AAA6-455B-ABD4-C51CC910596A</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>E4667CFD-E90D-41AB-8548-C2B353B4E48F</key>
		<dict>
			<key>xpos</key>
			<real>925</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>EE082CCF-925D-4407-A404-08118419950F</key>
		<dict>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>EFCA3C54-0E30-4A5D-9A8D-1AE1B729D59D</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>F10D878A-E0A0-45AA-A448-6A10CF3848A6</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Your Client ID</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Please follow the instructions to get this value from https://developer.ticktick.com/manage</string>
			<key>label</key>
			<string>Client ID</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>client_id</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Your Client Secret</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Please follow the instructions to get this value from https://developer.ticktick.com/manage</string>
			<key>label</key>
			<string>Client Secret</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>client_secret</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>v1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/Yakitrak/alfred-ticktick-workflow</string>
</dict>
</plist>
